<?xml version='1.0'?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="chassis_width" value="0.15"/>
  <xacro:property name="chassis_length" value="0.2"/>
  <xacro:property name="chassis_height" value="0.05"/>
  <xacro:property name="chassis_mass" value="0.5"/>
  <xacro:property name="wheel_radius" value="0.04"/>
  <xacro:property name="wheel_width" value="0.03"/>
  <xacro:property name="wheel_mass" value="0.1"/>

  <!--<xacro:include filename="$(find enph353_ros_lab)/urdf/robot.gazebo" /> -->
  <xacro:include filename="$(find enph353_ros_lab)/urdf/macros.xacro" />


  <link name='chassis'>

    <xacro:box_inertial name="chassis" m="${chassis_mass}" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}"/>

    <collision name='chassis_collision'>
      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>
    </collision>

    <visual name='chassis_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>
    </visual>


  </link>

  <link name = 'wheel_fr'>

    <xacro:cylinder_inertial name="wheel_fr" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <visual>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
	<material name="Red?">
		<color rgba="1.0 0 0 0" />
	</material>
   </visual>

   <collision>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
   </collision>

  </link>

  <link name = 'wheel_fl'>

    <xacro:cylinder_inertial name="wheel_fr" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <visual>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
	<material name="Red?">
		<color rgba="1.0 0 0 0" />
	</material>
   </visual>

   <collision>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
   </collision>

  </link>

  <link name = 'wheel_br'>

    <xacro:cylinder_inertial name="wheel_fr" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <visual>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
	<material name="Red?">
		<color rgba="1.0 0 0 0" />
	</material>
   </visual>

   <collision>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
   </collision>

  </link>

  <link name = 'wheel_bl'>

    <xacro:cylinder_inertial name="wheel_fr" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <visual>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
	<material name="Red?">
		<color rgba="1.0 0 0 0" />
	</material>
   </visual>

   <collision>
	<geometry>
		<cylinder length="${wheel_width}" radius="${wheel_radius}"/>
	</geometry>
   </collision>

  </link>


</robot>
